.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
    margin-bottom: 24px;
}

.galleryContainer {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

.galleryContainer:hover {
    text-decoration: none;
    border-color: gray;
}

.galleryImage {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.galleryTitle {
    padding: 4px 0;
    text-align: center;
}

.galleryHeading {
    margin-top: 0px;
    margin-bottom: 8px;
}

.galleryHeading:first-child {
    margin-top: 0;
}

.galleryDescription {
    margin-bottom: 12px;
}

.galleryNotes {
    margin-top: 12px;
}

.galleryNotes p:first-child {
    margin-top: 0;
}

.galleryNotes p {
    margin: 8px 0;
}

.galleryNotes p:last-child {
    margin-bottom: 0;
}